.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{min-width:100% !important;color:#fff !important;background-color:#1c0937 !important} */

.home-new .navbar-header>img{width:70px !important}

.home-new .navbar-header>h1{color: #fff !important; font-weight: 600 !important; margin-top: 11px !important;}

.home-new .card{
	background-image: -webkit-radial-gradient(100% 100%, circle, #572577, #4b3aa6) !important;
    background-image: -o-radial-gradient(100% 100%, circle, #572577, #4b3aa6) !important;
    background-image: radial-gradient(circle at 100% 100%, #572577, #4b3aa6) !important;
    -webkit-box-shadow: 0 60px 24px 0 rgba(26, 8, 51, 0.3) !important;
    box-shadow: 0 60px 24px 0 rgba(26, 8, 51, 0.3) !important;
    border-radius:34px !important;
}

.home-new .topology-card .card-header{padding-bottom:0 !important; text-align:center !important}

.home-new #default-node-pane{border-color:#ff8250 !important}

.home-new .node-close-btn{padding:0px 5px 5px 5px !important;color:#ff8250 !important}

.home-new .node-details-table table tr{display: block !important; background: rgb(28, 9, 55) !important; margin-bottom: 1px !important; border-radius: 130px !important; padding: 0px 9px !important;}
.home-new .node-details-table table tr th{color: #d0684a!important}

.home-new .card {background-color: inherit!important;}
.home-new .transactions-card {overflow-y: inherit!important;}
.home-new .card h1.card-title, .card h2.card-title, .card h3.card-title, .card h4.card-title, .card h5.card-title, .card h6.card-title{text-align:center !important;}

.home-new .network-stats-card .card-body{font-size: 23px !important; text-align: center !important; margin-top: 30px !important; font-weight: 900 !important; letter-spacing: 0.9px !important; color: #d0684a !important;}


.home-new .transactions-card>.card-body>.table>thead>tr>th{border-bottom: 1px solid #d0684a !important; padding: 8px !important; text-align: center !important; margin-bottom: 10px !important; display: block !important; background: #d0684a !important; border-color: #d0684a !important; letter-spacing: 0.9px !important; font-weight: 300 !important;}

.home-new .transactions-card>.card-body>.table>tbody>tr, .transactions-card>.card-body>.table>thead>tr{border-bottom: 0 !important; margin-bottom: 10px !important; display: grid !important; text-align: center !important;}

.home-new .rewards-card>.card-body>.table>tbody>tr:nth-child(even){background:#503192 !important}
.home-new .rewards-card>.card-body>.table>tbody>tr>th{font-weight:300 !important;}
